doctype html
html(lang="en")
	head
		title Landing Page
	body
		h1 "The future home of something dope."
		p Echo Park umami post-ironic before they sold out, literally pop-up wayfarers Shoreditch Intelligentsia slow-carb Bushwick health goth stumptown ugh. Squid farm-to-table 3 wolf moon, Thundercats sriracha keytar Tumblr occupy.